<body>
    <h1>All Notes</h1>
    <a href="/notes/add" class="add-new">Add New Note</a>
    <ul class="note-list">
        <% notes.forEach(note => { %>
            <li class="note-item">
                <a href="/notes/view/<%= note.id %>" class="note-link"><%= note.title %></a>
                <small>Created: <%= new Date(note.created_at).toLocaleString() %></small>
            </li>
        <% }); %>
    </ul>
    
</body>
